.phone_container {
  position: relative;
  height: max-content;

  margin-top: 40px;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 27px,
    rgba(0, 0, 0, 0.07) 0px -12px 30px, rgba(0, 0, 0, 0.07) 0px 4px 6px,
    rgba(0, 0, 0, 0.05) 0px -3px 5px;

  border-radius: var(--border-radius);

  .design-btn {
    position: absolute;
    z-index: 1;

    width: 8px;

    border-radius: 3px;
    background: var(--design-button-background);

    &--1,
    &--2,
    &--3 {
      left: -5px;
    }

    &--1 {
      top: 100px;

      height: 27px;
    }

    &--2,
    &--3 {
      height: 53px;
    }

    &--2 {
      top: 150px;
    }

    &--3 {
      top: 217px;
    }

    &--4 {
      top: 180px;
      right: -5px;

      height: 73px;
    }
  }

  @media (max-width: 1000px) {
    margin-top: 0;

    .design-btn {
      display: none;
    }
  }
}
