body,
.root {
  min-height: 100vh;
  background: #f9c2d2;
}

.root {
  display: flex;
  justify-content: center;

  @media (max-width: 1000px) {
    align-items: center;
  }
}

.phone-container {
  --highlight-background: #f7d6df;
  --main-background: #fff;
  --buttons-background: #fdfafa;
  --design-button-background: #fff;
  --line-background: rgb(235, 235, 235);
  --speaker-camera: #f1f1f1;
  --camera-background: linear-gradient(180deg, #94a6ae 0%, #b4cad4 100%);
  --non-highlight-button-active: rgb(231, 231, 231);

  --highlight-button-shadow: rgba(195, 45, 85, 0.4) 4px 5px 5px;
  --equals-button-shadow: rgba(91, 132, 176, 0.4) 4px 5px 5px;

  --phone-border: rgb(244, 244, 244);
  --border-radius: 16px;

  --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font: 17px "Poppins", var(--system-font);
  --icon-button: 17px;

  --highlight-text: rgb(79, 56, 62);
  --highlight-button-text: #e26a8d;
  --non-highlight-button-text: rgb(49, 49, 49);

  --padding: 1.3rem;
  --middle-gap: 2.5rem;

  --top-bar-element-color: #000;

  &.is-dark-theme {
    --main-background: rgb(45, 49, 58);
    --buttons-background: rgb(43, 47, 56);
    --design-button-background: rgb(45, 49, 58);
    --phone-border: rgb(61, 65, 78);
    --line-background: rgb(55, 59, 68);
    --speaker-camera: rgb(55, 59, 68);
    --camera-background: linear-gradient(180deg, #151618 0%, #343a3d 100%);
    --non-highlight-button-active: rgb(68, 74, 89);

    --highlight-background: rgb(219, 66, 114);
    --highlight-button-shadow: rgba(32, 32, 32, 0.631) 4px 5px 5px;

    --equals-button-shadow: rgb(32, 32, 32, 0.631) 4px 5px 5px;

    --non-highlight-button-text: rgba(199, 199, 199, 0.961);
    --highlight-button-text: #e7cad2;
    --highlight-text: rgb(240, 69, 117);

    --top-bar-element-color: rgb(212, 212, 212);
  }

  position: relative;
  height: max-content;

  margin-top: 40px;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 27px,
    rgba(0, 0, 0, 0.07) 0px -12px 30px, rgba(0, 0, 0, 0.07) 0px 4px 6px,
    rgba(0, 0, 0, 0.05) 0px -3px 5px;

  border-radius: var(--border-radius);

  .design-btn {
    position: absolute;
    z-index: 1;

    width: 8px;

    border-radius: 3px;
    background: var(--design-button-background);

    &--1,
    &--2,
    &--3 {
      left: -5px;
    }

    &--1 {
      top: 100px;

      height: 27px;
    }

    &--2,
    &--3 {
      height: 53px;
    }

    &--2 {
      top: 150px;
    }

    &--3 {
      top: 217px;
    }

    &--4 {
      top: 180px;
      right: -5px;

      height: 73px;
    }
  }

  @media (max-width: 1000px) {
    margin-top: 0;

    .design-btn {
      display: none;
    }
  }
}

.phone {
  position: relative;
  z-index: 2;

  display: flex;
  flex-flow: column;
  height: max-content;

  padding: calc(var(--padding) * 1.2) calc(var(--padding) * 1.6);

  font: var(--font);

  background: var(--main-background);
  border: 2px solid var(--phone-border);
  border-radius: var(--border-radius);

  &__multimedia {
    display: flex;
    gap: 8px;
  }

  &__top-bar {
    display: flex;
    align-items: center;
  }

  &__top-bar .icon {
    width: 13px;
    height: 13px;
    margin-left: 5px !important;

    color: var(--top-bar-element-color);

    transform: scaleX(1.1);
  }

  &__top-bar .icon:nth-child(2) {
    margin-top: 1.5px;
  }

  &__time {
    color: var(--top-bar-element-color);
    margin-right: auto;
    font-size: 13px;
  }

  &__multimedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding-bottom: calc(var(--padding) * 0.8);
  }

  &__speaker {
    width: 40px;
    height: 7px;
    border-radius: 12px;
    background: var(--speaker-camera);
  }

  &__camera {
    width: 6px;
    height: 6px;

    background: var(--camera-background);
    border: 4px solid var(--speaker-camera);
    border-radius: 100%;
  }

  @media (max-device-width: 1000px) and (orientation: landscape) {
    max-width: none;
    padding: calc(var(--padding) * 1.2) calc(var(--padding) * 2);
  }

  @media (max-width: 1000px) {
    &__multimedia,
    &__top-bar,
    &__design-btn {
      display: none;
    }
  }

  @media (max-width: 600px) {
    padding: calc(var(--padding) * 0.1) calc(var(--padding) * 0.2);
  }

  @media (max-width: 350px),
    (max-device-height: 400px) and (orientation: landscape) {
    max-width: none;
    padding: calc(var(--padding) * 0.5) calc(var(--padding) * 0.7);
  }

  @media (max-width: 350px) {
    padding: 0;
  }
}

.display {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;

  align-self: center;

  width: 100%;
  min-height: 100px;
  max-width: calc(var(--middle-gap) * 4 + 1rem * 3 + var(--padding) * 2 - 2px);
  padding-bottom: calc(var(--padding) * 1.5);

  &__input-output {
    width: 100%;
    min-height: 3rem;

    font-size: 2rem;
    text-align: right;

    color: var(--highlight-text);

    outline: none !important;
  }

  &__errors {
    opacity: 0;
    min-height: 1rem;
    width: 100%;

    color: rgb(255, 31, 31);

    &.is-visible {
      opacity: 1;
    }

    transition: opacity 1s ease-out;
  }

  @media (max-device-width: 1000px) and (orientation: landscape) {
    min-height: 50px;
    max-width: unset;
  }

  @media (max-width: 500px) {
    padding-bottom: calc(var(--padding) * 1);
  }
}

.wrapper--buttons {
  display: flex;
  flex-flow: column;
  gap: 1rem;

  padding: var(--padding);

  background: var(--buttons-background);
  border-radius: 32px 32px 14px 14px;

  @media (max-device-width: 1000px) and (orientation: landscape) {
    flex-flow: row;
    justify-content: space-around;
    gap: 2rem;
  }

  @media (max-device-height: 350px) and (orientation: landscape) {
    padding: 0;
    background: none;
  }
}

.buttons {
  @mixin buttons-flex-centered($flex-flow, $gap, $buttonSize) {
    display: flex;
    flex-flow: $flex-flow;
    justify-content: center;
    gap: $gap;

    .btn {
      width: $buttonSize;
      height: $buttonSize;
    }
  }

  @mixin outer-wrapper($gap, $flex-flow: row) {
    & > .wrapper {
      display: flex;
      flex-flow: $flex-flow;
      gap: $gap;
    }
  }

  @mixin inner-wrapper($gap, $flex-flow: row, $justify-content: center) {
    & > .wrapper > .wrapper {
      display: flex;
      gap: $gap;
      flex-flow: $flex-flow;
      justify-content: $justify-content;
      align-items: center;
    }
  }

  &--top {
    /* By passing rems, we make sure it will grow
    if the user changes browser font size */
    $gap: 0.75rem;

    @include buttons-flex-centered(column, $gap, 2rem);
    @include outer-wrapper($gap);

    @media (max-device-width: 1000px) and (orientation: landscape) {
      @include buttons-flex-centered(row, 4rem, 2rem);
      @include outer-wrapper($gap, column-reverse);
      align-items: flex-start;
    }

    @media (max-width: 350px) {
      @include outer-wrapper(0.5rem);
    }
  }

  &--middle {
    $gap: 1.75rem;
    $landscape-column-gap: 2.9rem;

    position: relative;

    @include buttons-flex-centered(column, $gap, var(--middle-gap));
    @include outer-wrapper($gap, column);
    @include inner-wrapper($gap);

    @media (min-width: 1000px) {
      & .line {
        align-self: center;

        width: 110px;
        height: 3px;

        border-radius: 2px;
        background: var(--line-background);
      }
    }

    @media (max-width: 600px) {
      $gap: 1.2rem;
      @include buttons-flex-centered(column, $gap, var(--middle-gap));
      @include outer-wrapper($gap, column);
      @include inner-wrapper($gap, row, space-between);
    }

    @media (max-width: 350px) {
      $gap: 0.5rem;
      @include outer-wrapper($gap, column);
      @include inner-wrapper($gap, row, space-between);
    }

    @media (max-device-width: 1000px) and (orientation: landscape) {
      flex-flow: row-reverse;
      $gap: 1.2rem;

      @include outer-wrapper($landscape-column-gap, column);
      @include inner-wrapper($gap, row, space-between);

      & .wrapper--powers {
        flex-flow: column !important;
        gap: $landscape-column-gap !important;
      }

      .btn {
        position: relative;

        &--equals {
          left: calc(var(--middle-gap) + $gap);
        }

        &--divide {
          right: calc(var(--middle-gap) + $gap);
        }
      }
    }
  }

  .btn {
    background: none;
    border-radius: 50%;

    color: var(--non-highlight-button-text);

    &:active {
      background: var(--non-highlight-button-active);
    }

    &--highlight {
      background: var(--highlight-background);
      color: var(--highlight-button-text);
      box-shadow: var(--highlight-button-shadow);

      &:active {
        background: #f5c3d0;
      }
    }

    &--equals {
      background: rgb(91, 132, 176);
      color: #fff;
      border-radius: 50%;
      box-shadow: var(--equals-button-shadow);

      &:active {
        background: rgb(59, 116, 177);
      }
    }

    &--icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & .icon {
      display: flex;
      justify-content: center;
      align-items: center;

      width: var(--icon-button);
      height: var(--icon-button);

      color: var(--text-color);

      & path {
        margin: 0;
      }
    }
  }
}

svg {
  margin: 0 !important;
}
